asgiref==3.8.1
certifi==2024.12.14
charset-normalizer==3.4.0
cloudipsp==1.0.4
dj-database-url==2.3.0
Django==5.1.4
idna==3.10
mysqlclient==2.2.6
pillow==11.0.0
pip==24.0
python-decouple==3.8
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
typing-extensions==4.12.2
urllib3==2.2.3
waitress==3.0.2
whitenoise==6.8.2
