{% extends 'includes/master_page_res.html' %}

{% block title %}
    Order Summary
{% endblock %}

{% block content %}
<style>
h2 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

.order-summary-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dish_img{
    flex: 1;
    width: 200px;
    margin: 30px;
    border: 1.5px solid #f7c08a;
    border-radius: 10px;
}
.name_price{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

li:last-child {
    border-bottom: none;
}

li span {
    font-size: 18px;
    color: #555;
}

h3 {
    text-align: right;
    margin-top: 20px;
    color: #555;
    font-weight: normal;
}

.empty-basket {
    text-align: center;
    color: #777;
    font-size: 18px;
    margin-top: 20px;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    background-color: #f7c08a;
    color: #444;
    border: none;
    padding: 12px 25px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #f7c08a;
    transform: scale(1.05);
}

button:active {
    background-color: #f7c08a;
}


.basket-item-remove {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.basket-item-remove:hover {
    background-color: #c82333;
}


</style>
    <h2>Order Summary</h2>
<div class="order-summary-container">

    {% if basket %}
        <ul>
            {% for item in basket %}
                <li>
                {% for photo in item.dish.photos.all %}
                    <img class="dish_img" src="..{{ photo.photo.url }}" alt="{{ item.dish.name }}">
                {% endfor %}
                    <div class="name_price">
                        <span>{{ item.dish.name }}</span>
                        <br>
                        <span>${{ item.dish.price }} x {{ item.quantity }}</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <h3><b>Total: ${{ total_cost }}</b></h3>
        <form action="{% url 'confirm_order' %}" method="POST">
            {% csrf_token %}
            <!--<a href="{% url 'confirm_order' %}">Klicc</a>-->
            <button type="submit">Confirm Order</button>
        </form>
    {% else %}
        <p class="empty-basket">Your basket is empty.</p>
    {% endif %}
</div>
{% endblock %}


